{{extend 'layout.html'}}
{{
  if not vmlist:
}}
<center><h3>No VM running</h3></center>
{{else:}}

<h1 class="title">{{=T('All VMs')}}</h1>
  <table id="allvms" class="tablesorter">
    <thead>  
      <tr>
        <th>Name</th>
        <th>Owner</th>
        <th>Host</th>
        <th>Private IP</th>
        <th>Public IP</th>
		<th>RAM</th>
		<th>vCPUs</th>
        <th>Status</th>
        <th>Settings</th>
      </tr>
    </thead>
    <tbody>
    {{for vm in vmlist:}}
      <form>
      <tr>
        <td>{{=vm['name']}}</td>
        <td>{{=(vm['owner'])}}</td>
        <td>{{=vm['hostip']}}</td>
        <td>{{=vm['private_ip']}}</td>
        <td>{{=vm['public_ip']}}</td>
        <td>{{=vm['RAM']}}</td>
		<td>{{=vm['vcpus']}}</td>
        <td>{{=vm['status']}}</td>
        <td>
	        {{=A(IMG(_src=URL('static','images/settings.png'), _height=18, _width=18),
	        _href=URL(r=request, c='user',f='settings', args=[vm['id']]), _id="vm_"+str(vm['id']), 
	        _title="Settings", 
	        _alt="Settings")}}
        </td>
      </tr>
      </form>
    {{pass}}
    </tbody>
  </table>
{{pass}}

<script>
jQuery(document).ready(function(){
      jQuery("#allvms").tablesorter({ headers: {2: {sorter:"ipAddress"}, 3: {sorter:"ipAddress"}, 4: {sorter:"ipAddress"}} }); 
});
</script>