{{extend 'layout.html'}}
{{
  if not vmlist:
}}
<center><h3>No VM running</h3></center>
{{else:}}

<h1 class="title">{{=T('All VMs')}}</h1>
<div class="TABLE">
  <table id="allvms">
      <tr>
        <th>Name</th>
        <th>Owner</th>
        <th>Host</th>
        <th>Private IP</th>
		<th>RAM</th>
		<th>vCPUs</th>
        <th>Status</th>
		<th>Cost</th>
        <th>Settings</th>
      </tr>
  {{for vm in vmlist:}}
      <form>
      <tr>
        <td>{{=vm['name']}}</td>
        <input type = "hidden" name = "vm" value="{{=vm['id']}}"/>
        <td>{{=(vm['owner'])}}</td>
        <td>{{=vm['hostip']}}</td>
        <td>{{=vm['private_ip']}}</td>
        <td>{{=vm['RAM']}}</td>
		<td>{{=vm['vcpus']}}</td>
        <td>{{=vm['status']}}</td>
        <td>{{=vm['cost']}}</td>
        <td>
	        {{=A(IMG(_src=URL('static','images/settings.png'), _height=18, _width=18),
	        _href=URL(r=request, c='user',f='settings', args=[vm['id']]), 
	        _title="Settings", 
	        _alt="Settings")}}
        </td>
      </tr>
      </form>
  {{pass}}
  </table>
  </div>
{{pass}}
