{{extend 'layout.html'}}

<div class="post">
	<h1 class="title">Welcome to Baadal </h1>
	
	<div class="entry">
		<p>Baadal is a cloud orchestration and virtualization management software initiated by MHRD under NMEICT scheme and developed and maintained by IIT Delhi. It ensures optimum utilization of the infrastructure and speeds up the development and deployment of eGov applications for academic needs. 
		<p>It is hosted in NIC data-centre. Some of the main features of Baadal are:</p>
			<ul>
				<li>Dynamic resource scheduling and power management.</li>
				<li>An integrated workflow system for request and commissioning of virtual machines.</li>
				<li>Facilities for <strong>suspend</strong>, <strong>resume</strong>, <strong>shutdown</strong>, <strong>power off</strong>, <strong>power on</strong> and <strong>specifying resource requirement</strong> of virtual machines.</li>
				<li>Dynamic resource utilization monitoring.</li>
			</ul>
    <br/>
    <p>Under this project, we help government and semi Government institutes to accommodate their infrastructure needs without taking care of management issues.</p> 
    <p>As Baadal is open source project, we help institutes to setup their private cloud.</p>
	</div>
</div>
