{{extend 'layout.html'}}

<div class="post">
	<h1 class="title">Welcome to Baadal </h1>
	<div class="entry">
		<p>Baadal is a management and orchestration software for the IITD private cloud for high performance computing based on:
			<ul>
				<li>3 blade servers each with 2x6 core Intel(R) Xeon(R) CPU X5670  @ 2.93GHz and 32 GB RAM.</li>
				<li>A 10Gbps ethernet backbone.</li>
				<li>400 GB of virtualized storage based on a NetApp 3210V NAS and HP EVA6400 SAN with FC disks.</li>
				<li>Open source virtualization technology based on KVM. It can also support other popular virtualization technologies like Xen and VmWare.</li>
			</ul>
		</p>

		<p>Some of the main features of Baadal are:</p>
			<ul>
				<li>Dynamic resource scheduling and power management.</li>
				<li>Facilities for <strong>suspend</strong>, <strong>resume</strong>, <strong>shutdown</strong>, <strong>power off</strong>, <strong>power on</strong> and <strong>specifying resource requirement</strong> of virtual machines.</li>
				<li>Dynamic resource utilization monitoring.</li>
			</ul>
		</p>
	</div>
</div>



