{{extend 'layout.html'}}
<style>
ul.extradist li{
	margin:0 20px 20px 0; 
	vertical-align:top
}
</style>
<div class="post">
	<h1 class="title">Solutions</h1>
	
	<div class="entry">
		<p>Baadal has extensive solution for you hosting and infrastructure needs.<br/>
			<ul class="extradist">
				<li><b>Virtual Machines</b>: Provision of windows and linux based virtual machines in minutes. A simple Baadal GUI allows you to register yourself and can request for any number of virtual machines with different flavours of windows and linux.</li>
				<li><b>Public IP</b>: Public IP is provided to users so that applications can be hosted for public access.</li>
				<li><b>Baadal Container service</b>: Baadal uses docker based tools to deploy and manage containers. Various pre-configured containers are available for quick setup.</li>
				<li><b>Load Balancer</b>: Deliver high availability to user's applications running on Baadal cloud setup.</li>
				<li><b>VPN Gateway</b>: Establish secure connectivity between Baadal cloud machines and user's permises. Users can either request for a public IP or can request for a VPN connection and can connect to their virtual machines using private IP.</li>
				<li><b>Baadal DNS</b>: Baadal allows any user to host their DNS domain in Baadal. A “.nmeict.in” domain is being provided to the users.</li>
				<li><b>Baadal Storage</b>: Durable, Scalable and highly available cloud storage. Many users have requested storage from Baadal's setup. Upto 250TB of virtualised storage is available to be provided to the users.</li>
			</ul>
		</p>
	</div>
</div>
