{{extend 'layout.html'}}

<style>
    #menu li:hover{background: #EDEBD5 url(/baadal/static/images/img05.gif) no-repeat;}
    #menu li {background: #EDEBD5 url(/baadal/static/images/img05.gif) no-repeat;}
    #menu li a {background: url(/baadal/static/images/img06.gif) no-repeat right top;}
    #menu li.active{background:none;}
    #menu li.active:hover {background: #F9F8F1;}
    #menu li.contact{background:none;}
    #menu li.contact:hover {background: #F9F8F1;}
    #menu li.active a {background:none;}
    #menu li.contact a {background:none;}
</style>

<h2 class="title">Current Collabrator:</h2>
<div class="entry"><br/>
<h3>NIC</h3><br/>
R.S. Mani, S.V. Raghavan, Rajesh Gupta, Shounak Acharya <br/><br/>
<h3>IIT Delhi</h3><br/>
Faculty: Huzur Saran, Subhashish Banerjee, Sorav Bansal<br/>
Project Associates: Aditi Mittal, Apoorve Mohan, Jyoti Saini, Nisha Goyal, Shweta Salaria, Sonal Swarnima<br/>
Students: Syam Prasad Reddy</div><br/><br/>
<div class="entry">
<h2 class="title">Past Collabrator:</h2>
<br/>
<h3>IIT Delhi</h3><br/>
Project Associates: Daniel Mathews, Saransh Gupta<br/>
Students: Abhishek Gupta, Jatin Kumar 
</div>


