{{extend 'layout.html'}}

<h2 class="title">Current Collaborators:</h2>
<div class="entry"><br/>
<h3>NIC</h3><br/>
R.S. Mani, S.V. Raghavan, Rajesh Gupta, Shounak Acharya <br/><br/>
<h3>IIT Delhi</h3><br/>
Faculty: Huzur Saran, Subhashish Banerjee, Sorav Bansal<br/>
Project Associates: Jyoti Saini, Keerti Agrawal, Nalini Varshney, Paritosh Puri, Prateek Gautam, Sonal Swarnima, Suvajit Sarkar<br/>
</div><br/><br/>
<div class="entry">
<h2 class="title">Past Collaborators:</h2>
<br/>
<h3>IIT Delhi</h3><br/>
Project Associates: Apoorve Mohan, Daniel Mathews, Nisha Goyal, Saransh Gupta, Shweta Salaria<br/>
Students: Abhishek Gupta, Jatin Kumar, Syam Prasad Reddy
</div>


