{{extend 'layout.html'}}

<div style="text-align:right;padding-right:40px">
{{=util_form}}
</div>

{{for vmhosts in hostvmlist:}}
<h2 class="title">{{=A('host :'+ str(vmhosts['host_ip']), _href=URL(r=request,c='admin' ,f='host_config', args=[vmhosts['host_id']] ))}}</h2>
<div id="host_utilization_{{=vmhosts['host_id']}}"></div>
    <div class="TABLE">
    <table id="host_{{=vmhosts['host_ip']}}">
      <tr>
        <th>Name</th>
        <th>Owner</th>
        <th>Organisation</th>
        <th>Private IP</th>
        <th>RAM</th>
        <th>vCPUs</th>
        <th>Status</th>
        <th>Settings</th>
      </tr>
      {{for vm in vmhosts['details']:}}
      <tr>
        <td>{{=vm['name']}}</td>
        <td>{{=vm['owner']}}</td>  
        <td>{{=vm['organisation']}}</td>
        <td>{{=vm['private_ip']}}</td>
        <td>{{=vm['RAM']}}</td>
        <td>{{=vm['vcpus']}}</td>
        <td>{{=vm['status']}}</td>
        <td>
            {{=A(IMG(_src=URL('static','images/settings.png'), _height=18, _width=18),
            _href=URL(r=request,c='user' ,f='settings', args=[vm['id']]), _id="vm_"+str(vm['id']),
            _title="Settings", 
            _alt="Settings")}}
        </td>
      </tr>
      {{pass}}
  </table>
  </div>
  <br>
{{pass}}

<script>

jQuery(document).ready(function(){
	var JSONstring = '{{=host_util_data}}';
	JSONstring = JSONstring.replace(/&quot;/ig,'"');

	parse_utilization_data(jQuery.parseJSON(JSONstring));
	
});

function get_utilization_data() {

	var util_data = jQuery('#period_select_id').val();

	jQuery.ajax(
	{
		url : '{{=URL('get_host_utilization_data')}}',
		type: 'POST',
		dataType : 'json',
		data: {keywords:util_data},
		success:function(data) {
		
			parse_utilization_data(data);
		}
	});
}


function parse_utilization_data(JSONstring){

	$.each(JSONstring, function(host_id, host_util_data) {

		display_str = '<b>Utilization data for ' + $('#period_select_id option:selected').text() + '</b> [';
		$.each(host_util_data, function(param, util_val) {

			display_str += param + ': ' + util_val + ', ';
		});
		display_str = display_str.substring(0, (display_str.length)-2);
		display_str += ']';
		$('#host_utilization_'+host_id).html(display_str)
	});

}
</script>
