{{extend 'layout.html'}}



<!DOCTYPE html>
<meta charset="utf-8">
<html>
  <head>
    <style>
      rect.bordered {
        stroke: #E6E6E6;
        stroke-width:2px;   
      }

      text.mono {
        font-size: 9pt;
        font-family: Consolas, courier;
        fill: #aaa;
      }

      text.axis-workweek {
        fill: #000;
      }

      text.axis-worktime {
        fill: #000;
      }
    </style>

    <script src="{{=URL('static','js/d3.v3.js')}}"  ,type="text/javascript"></script>
  </head>
  <body>
    <div id="chart"></div>

     <script type="text/javascript">
      var host_name_lists=[];
      var band_range=[];
      d3.json("{{=URL('static/sigma','graph.json')}}", function(json) {
    
   
    for(var i = 0; i < json.length; i++) {
    var obj = json[i];

   
    host_name_lists.push(obj.name);
   }
    

      var margin = { top: 60, right: 0, bottom: 150, left: 60 },
          width = 1360 - margin.left - margin.right,
          height = 830 - margin.top - margin.bottom,
          gridSize = Math.floor(width / 24),
          legendElementWidth = gridSize*2,
          buckets = 4,
          colors = ["#ffffd9","#edf8b1","#c7e9b4","#7fcdbb","#41b6c4","#1d91c0"],
	  
          host_list = host_name_lists;

      d3.tsv("{{=URL('static/sigma','graph.tsv')}}",
        function(d) {
	  var count = host_list.length*host_list.length;
	 

          return {
	    
            current: +d.current,
            next: +d.next,
            latency: +d.latency
          };
	
},
        function(error, data) {
	  
          var colorScale = d3.scale.linear()
              .domain([1.2461e-05,3.8457e-05,4.0489e-05,5.6177e-05,6.7426e-05,7.0282e-05,0.0001408])
              .range(colors);

          var svg = d3.select("#chart").append("svg")
              .attr("width", width + margin.left + margin.right)
              .attr("height", height + margin.top + margin.bottom)
              .append("g")
              .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

          var currentLabels = svg.selectAll(".currentLabel")
              .data(host_list)
              .enter().append("text")
                .text(function (d) { return d; })
                .attr("x", 0)
                .attr("y", function (d, i) { return i * gridSize; })
                .style("text-anchor", "end")
                .attr("transform", "translate(-6," + gridSize / 1.5 + ")")
                .attr("class", function (d, i) { return ((i >= 0 && i <= 4) ? "currentLabel mono axis axis-workweek" : "currentLabel mono axis"); });

          var nextLabels = svg.selectAll(".nextLabel")
              .data(host_list)
              .enter().append("text")
                .text(function(d) { return d; })
                .attr("x", function(d, i) { return i * gridSize; })
                .attr("y", 0)
                .style("text-anchor", "middle")
                .attr("transform", "translate(" + gridSize / 2 + ", -6)")
                .attr("class", function(d, i) { return ((i >= 7 && i <= 16) ? "timeLabel mono axis axis-worktime" : "timeLabel mono axis"); });
	 
          var heatMap = svg.selectAll(".next")
              .data(data)
              .enter().append("rect")
              .attr("x", function(d) {  return (d.next - 1) * gridSize; })
              .attr("y", function(d) { return (d.current - 1) * gridSize; })
              .attr("rx", 4)
              .attr("ry", 4)
              .attr("class", "next bordered")
              .attr("width", gridSize)
              .attr("height", gridSize)
              .style("fill", colors[0]);

          heatMap.transition().duration(1000)
              .style("fill", function(d) { return colorScale(d.latency); });

          heatMap.append("title").text(function(d) { return d.latency; });
              
          var legend = svg.selectAll(".legend")
              .data([1.2461e-05,3.8457e-05,4.0489e-05,5.6177e-05,6.7426e-05,7.0282e-05,0.0001408])
              .enter().append("g")
              .attr("class", "legend");

          legend.append("rect")
    
            .attr("x", function(d, i) { return legendElementWidth * i; })
            .attr("y", height)
            .attr("width", legendElementWidth)
            .attr("height", gridSize / 2)
            .style("fill", function(d, i) { return colors[i]; });

          legend.append("text")
            .attr("class", "mono")
            .text(function(d) { return "≥ " + d; })
            .attr("x", function(d, i) { return legendElementWidth * i; })
            .attr("y", height + gridSize);
      });});
    </script>
  </body>
<ul>
<li><b>latency Unit is sec</b></li>


</ul>
</html>

