{{extend 'layout.html'}}
{{if not hosts:}}
<center><h4>No Machines There Yet.</h4></center>
{{else:}}
<h1 class="title">{{=T('Host Details')}}</h1>
<div class="TABLE">
  <table>
      <tr>
        <th>Name</th>
        <th>IP</th>
        <th>Status</th>
        <th>Commands</th>
      </tr>
  {{for host in hosts:}}
      <tr>
        <td>{{=host['name']}}</td>
        <td>{{=host['ip']}}</td>
        <td>
            {{if host['status']==1 :}}
                Up <!-- #TODO Insert Image -->
            {{elif host['status']==0:}}
                Down
            {{elif host['status']==2:}}
                Maintenance
            {{pass}}
        </td>
        <td>
        {{ if host['status']!=2:}} 
        <a href=# alt="Put host to maintenance mode." title="Put host to maintenance mode." onClick="if(confirm('Are you sure you want to put this host in maintenance mode? All off vms will be put on first active host and migration request will be queued for all running vms.'))
                                {
                                    window.location ='{{=URL(r=request, f='maintenance_host', args=[host['id']])}}'
                                }
          ">{{=IMG(_src=URL('static','images/maintenance.png'), _height=15, _width=15)}}
                {{=A(_title="Put host to maintenance mode.",_alt="Put host to maintenance mode.")}}</a>
        {{pass}}

        {{ if host['status']==2:}} 
          {{=A(IMG(_src=URL('static','images/repaired.jpg'), _height=15, _width=15),
                    _href=URL(r=request, f='maintenance_host', args=[host['id']]), 
                    _title="Host is fit now.",
                    _alt="Host is fit now.")}}
	  {{ if host['ip']==0:}}
              {{=A(IMG(_src=URL('static','images/on-off.png'), _height=15, _width=15),
                       _href=URL(r=request, f='shut_boot_host', args=[host['ip']]), 
                       _title="Boot Up this host",
                       _alt="Boot up this host")}}
	  {{else:}}
              {{=A(IMG(_src=URL('static','images/shutdown2.png'), _height=15, _width=15),
                       _href=URL(r=request, f='shut_boot_host', args=[host['ip']]), 
                       _title="Shut down this host",
                       _alt="Shut down this host")}}
	  {{pass}}
       {{pass}}

            {{=A(IMG(_src=URL('static','images/takeownership.png'), _height=15, _width=15),
                    _href=URL(r=request, f='listorphans', args=[host['id']]), 
                    _title="List the vms which are not in database",
                    _alt="List the vms which are not in database")}}

            <a href=# alt="Delete the host from the database" title="Delete the host from the database" onClick="if(confirm('Are you sure you want to delete this host from baadal database. All vms on this host will become orphan. Recommended to put this host in maintenance mode first and then delete. This will accordingly adjust the vms on this host.'))
                                {
                                    window.location ='{{=URL(r=request, f='delete_host', args=[host['id']])}}'
                                }
          ">{{=IMG(_src=URL('static','images/delete.png'), _height=15, _width=15)}}
                {{=A(_title="Delete the host from the database",_alt="Delete the host from the database")}}</a>
        </td>
      </tr>
  {{pass}}
  </table>
</div>
{{pass}}
<br/>
<br/>
<h2 class="subtitle">Add New Host</h2>
{{=form}}
