{{extend 'layout.html'}}

<h2 class="subtitle">Add New Host</h2>
{{=form1}}
<br>
{{=form2}}
<br>
{{if not hosts:}}
<center><h4>No Machines There Yet.</h4></center>
{{else:}}
<h2 class="subtitle">{{=T('Host Details')}}</h2>
<div class="TABLE">
  <table id="hostdetails">
      <tr>
        <th>Name</th>
        <th>IP</th>
        <th>Status</th>
        <th>Comment</th>
        <th>Commands</th>
      </tr>
  {{for host in hosts:}}
      <tr>
        <td>{{=host['name']}}</td>
        <td>{{=host['ip']}}</td>
        <td>
            {{if host['status']== HOST_STATUS_UP :}}
                Up <!-- #TODO Insert Image -->
            {{elif host['status']==HOST_STATUS_DOWN:}}
                Down
            {{elif host['status']== HOST_STATUS_MAINTENANCE:}}
                Maintenance
            {{pass}}
        </td>
        <td>{{=host['extra']}}</td>
        <td>
   
        {{ if host['status']== HOST_STATUS_DOWN:}}
         <a href=# alt="Put host boot up state." title="Put host in boot up state."</a>
        
		{{=A(IMG(_src=URL('static','images/repaired.jpg'), _height=15, _width=15),
                    _href=URL(r=request, f='boot_up_host', args=[host['id']]), 
                    _title="Host is fit now.",
                    _alt="Host is fit now.",_id=host['id'])}}
	 {{pass}}
        {{ if host['status'] == HOST_STATUS_UP:}} 
        <a href=# alt="Put host to maintenance mode." title="Put host to maintenance mode." onClick="if(confirm('Are you sure you want to put this host in maintenance mode? All off vms will be put on first active host and migration request will be queued for all running vms.'))
                                {
                                    window.location ='{{=URL(r=request, f='maintenance_host', args=[host['id']])}}'
                                }
          ">{{=IMG(_src=URL('static','images/maintenance.png'), _height=15, _width=15)}}
                {{=A(_title="Put host to maintenance mode.",_alt="Put host to maintenance mode.",_id=host['id'])}}</a>
        {{pass}}

        {{ if host['status'] == HOST_STATUS_MAINTENANCE:}} 
          {{=A(IMG(_src=URL('static','images/repaired.jpg'), _height=15, _width=15),
                    _href=URL(r=request, f='boot_up_host', args=[host['id']]), 
                    _title="Host is fit now.",
                    _alt="Host is fit now.",_id=host['id'])}}
          {{=A(IMG(_src=URL('static','images/shutdown2.png'), _height=15, _width=15),
                   _href=URL(r=request, f='shut_down_host', args=[host['id']]), 
                   _title="Shut down this host",
                   _alt="Shut down this host",_id=host['id'])}}

        <a href=# alt="Delete the host from the database" title="Delete the host from the database" onClick="if(confirm('Are you sure you want to delete this host from baadal database.'))
        {
            window.location ='{{=URL(r=request, f='delete_host', args=[host['id']])}}'
        }
      ">
      {{=IMG(_src=URL('static','images/delete.png'), _height=15, _width=15)}}
            {{=A(_title="Delete the host from the database",_alt="Delete the host from the database",_id=host['id'])}}</a>
       {{pass}}


        </td>
      </tr>
  {{pass}}
  </table>
</div>
{{pass}}

<script>
jQuery('form').submit(function(){

});

$(".btn-submit").click(function() {
    $(this).prop("disabled", true); // dont allow more clicks 
    $(this).closest('form').submit();
});

</script>
