{{extend 'layout.html'}}
  {{for vmhosts in hostvmlist:}}
<h2 class="title">{{=A('host :'+ str(vmhosts['host_ip']), _href=URL(r=request,c='admin' ,f='host_config', args=[vmhosts['host_id']] ))}}</h2>
    <div class="TABLE">
    <table id="host_{{=vmhosts['host_ip']}}">
      <tr>
        <th>Name</th>
        <th>Owner</th>              
        <th>Organisation</th>              
        <th>Private IP</th>
        <th>RAM</th>
        <th>vCPUs</th>
        <th>Status</th>
        <th>Settings</th>
      </tr>
      {{for vm in vmhosts['details']:}}
      <form>
      <tr>
        <td>{{=vm['name']}}</td>
        <td>{{=vm['owner']}}</td>                
        <td>{{=vm['organisation']}}</td>
        <td>{{=vm['private_ip']}}</td>
        <td>{{=vm['RAM']}}</td>
        <td>{{=vm['vcpus']}}</td>
        <td>{{=vm['status']}}</td>
        <td>
            {{=A(IMG(_src=URL('static','images/settings.png'), _height=18, _width=18),
            _href=URL(r=request,c='user' ,f='settings', args=[vm['id']]), _id="vm_"+str(vm['id']), 
            _title="Settings", 
            _alt="Settings")}}
        </td>
      </tr>
      </form>
    {{pass}}
  </table>
  </div>
  <br>
 {{pass}}

