{{extend 'layout.html'}}
{{
  if not vmlist:
}}
<center><h3>No VM running</h3></center>

{{else:}}
<h2 class="subtitle">{{=T('All VMs')}}</h2>
  <table id="listallvm" class="tablesorter">
    <thead>  
      <tr>
        <th>Name</th>
        <th>Owner</th>
		<th>Organisation</th>
        <th>Host</th>
        <th>Private IP</th>
		<th>RAM</th>
		<th>vCPUs</th>
        <th>Status</th>
        <th>Settings</th>
      </tr>
    </thead>
    <tbody>
    {{for vm in vmlist:}}
      <form>
      <tr>
        <td>{{=vm['name']}}</td>
        <td>{{=vm['owner']}}</td>
        <td>{{=vm['organisation']}}</td>
        <td>{{=vm['hostip']}}</td>
        <td>{{=vm['private_ip']}}</td>
        <td>{{=vm['RAM']}}</td>
		<td>{{=vm['vcpus']}}</td>
        <td>{{=vm['status']}}</td>
	        {{=TD(A(IMG(_src=URL('static','images/settings.png'), _height=18, _width=18),
	        _href=URL(r=request, c='user',f='settings', args=[vm['id']]), _title="Settings", 
	        _alt="Settings"), _id="vm_"+str(vm['id']))}}
      </tr>
      </form>
    {{pass}}
    </tbody>
  </table>
{{pass}}

<script>
jQuery(document).ready(function(){
      jQuery("#listallvm").tablesorter(); 
});
</script>
