{{extend 'layout.html'}}
{{if not pending_vms:}}
<h2 class="subtitle">No Pending Requests</h2>
    {{else:}}
<h2 class="subtitle">Pending VM Requests</h2>
  <div class="TABLE">
    <table>
      <tr>
        <th>Type</th>
        <th>Requested By</th>
        <th>Collaborators</th>
        <th>Organisation</th>
        <th>VM Name</th>
        <th>RAM</th>
        <th>HDD</th>
        <th>vCPUs</th>
        <th colspan="2">Approval Status</th>
        <th>Action</th>
      </tr> 
      {{for pending_vm in pending_vms:}}
        {{rows = 1}}
        {{if pending_vm['requested_by'] == USER:}}
            {{rows=2}}
        {{pass}}
       <tr>
            <td rowspan="{{=rows}}">{{=pending_vm['request_type']}}</td>
            <td rowspan="{{=rows}}">{{=pending_vm['requester_name']}}</td>
            <td rowspan="{{=rows}}">{{=pending_vm['collaborators']}}</td>
            <td rowspan="{{=rows}}">{{=pending_vm['organisation']}}</td>
            <td rowspan="{{=rows}}">{{=pending_vm['vm_name']}}</td>
            <td rowspan="{{=rows}}">{{=pending_vm['RAM']}}</td>
            <td rowspan="{{=rows}}">{{=pending_vm['HDD']}}</td>
            <td rowspan="{{=rows}}">{{=pending_vm['vCPUs']}}</td>
            {{if pending_vm['requested_by'] == USER:}}
            <td>
                {{=pending_vm['faculty_name']}}
            </td>
            <td>    
                {{if pending_vm['status'] == VM_STATUS_REQUESTED:}}
                {{=IMG(_src=URL('static','images/red-light.jpg'), _height=18, _width=18)}}
                {{else:}}{{=IMG(_src=URL('static','images/green-light.jpg'))}}
                {{pass}}
            </td>
            {{elif pending_vm['requested_by'] == FACULTY:}}
            <td>
                {{=pending_vm['organisation']}} Admin
            </td>
            <td>    
                {{if pending_vm['status'] == VM_STATUS_REQUESTED or pending_vm['status'] == VM_STATUS_VERIFIED:}}{{=IMG(_src=URL('static','images/red-light.jpg'), _height=18, _width=18)}}
                {{else:}}{{=IMG(_src=URL('static','images/green-light.jpg'))}}
                {{pass}}
            </td>
            {{else:}}<td colspan="2">Pre-Approved</td>
            {{pass}}
            <td rowspan="{{=rows}}">
                {{if pending_vm['status'] == VM_STATUS_IN_QUEUE:}}
                    {{=A(IMG(_src=URL('static','images/vm_add.png'), _height=18, _width=18), _href='#', 
                        _title="Installation in Progress", _alt="Installation in Progress")}}
                {{else:}}
                    {{=A(IMG(_src=URL('static','images/accept.png'), _height=18, _width=18), 
                        _href=URL(r=request, c='admin',f='approve_request', args=[pending_vm['id']]),
                        _title="Approve Request", _alt="Approve Request")}}
                    &nbsp;|&nbsp;
                    {{=A(IMG(_src=URL('static','images/reject.png'), _height=18, _width=18), 
                        _href=URL(r=request, c='admin',f='reject_request', args=[pending_vm['id']]),
                        _title="Reject Request", _alt="Reject Request")}}
                {{pass}}
            </td>
          </tr>
        {{if pending_vm['requested_by'] == USER:}}
          <tr>
              <td>
                  {{=pending_vm['organisation']}} Admin
              </td>
              <td>  
                  {{if pending_vm['status'] == VM_STATUS_REQUESTED or pending_vm['status'] == VM_STATUS_VERIFIED:}}{{=IMG(_src=URL('static','images/red-light.jpg'))}}
                  {{else:}}{{=IMG(_src=URL('static','images/green-light.jpg'))}}
                  {{pass}}
              </td>
          </tr>
        {{pass}}  
      {{pass}}
    </table>
    </div>
{{pass}}

