{{extend 'layout.html'}}
{{
  if not vmlist:
}}
<center><h4>No VM running</h4></center>
{{else:}}
<h1 class="title">{{=T('All VMs')}}</h1>
<div class="TABLE">
  <table>
      <tr>
        <th>Name</th>
        <th>Owner</th>
        <th>Host</th>
        <th>IP</th>
		<th>RAM</th>
		<th>vCPUs</th>
        <th>Level</th>
		<th>Cost</th>
        <th>Settings</th>
      </tr>
  {{for vm in vmlist:}}
      <form>
      <tr>
        <td>{{=vm['name']}}</td>
        <input type = "hidden" name = "vm" value="{{=vm['name']}}"/>
        <td>{{=get_fullname(vm['owner'])}}</td>
        <td>{{=vm['hostip']}}</td>
		<td>{{=vm['ip']}}</td>
        <td>{{=vm['RAM']}}</td>
		<td>{{=vm['vcpus']}}</td>
        <td>{{=vm['level']}}</td>
        <td>{{=round(float(vm['cost']),2)}}</td>
        <td>
        <div id = '{{=vm['name']}}'>
        {{=A(IMG(_src=URL('static','images/settings.png'), _height=18, _width=18),
        _href=URL(r=request, f='settings', args=[vm['name']]), 
        _title="Settings", 
        _alt="Settings")}}
        {{vm=vm['name']}}
        <img alt="Operations" title="Operations" src="../static/images/lock.png" height="18" onclick="ajax('{{=URL('dominfo/'+vm)}}', ['{{=vm}}'],'{{=vm}}');"/>
        </div>
        </td>
      </tr>
      </form>
  {{pass}}
  </table>
{{pass}}
</div>