{{extend 'layout.html'}}
<div id="tabs-task">
<ul>
    <li><a href="#cont", onclick="set_tab_cookie(0);">CONTROLLER</a></li>
    <li><a href="#nat",  onclick="set_tab_cookie(1);">NAT</a></li>
    
</ul>
<div id='cont'>

<div class="post" >

    <h2 class="title">Controller Configuration </h2>

    <div class="TABLE">
    <table id="configuration">
         <tr>
            
            <th>HDD</th>
            <th>RAM</th>
            <th>VCPUs</th>
            <th>Private IP</th>
            <th>MAC Address</th>
            <th>Network Bandwidth</th>
             <th>Setting</th> 
        </tr>
        <tr>
            
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
	     <td></td>
	     <td>
      
        </td>
        </tr>
    </table>    
    </div>
</div>

</div>
<div id='nat'>

<div class="post" >

    <h2 class="title">NAT Configuration </h2>

   <div class="TABLE">
    <table id="configuration">
         <tr>
            
            <th>HDD</th>
            <th>RAM</th>
            <th>VCPUs</th>
            <th>Private IP</th>
            <th>MAC Address</th>
            <th>Network Bandwidth</th>
             <th>Setting</th> 
        </tr>
        <tr>
            
           <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
	     <td></td>
	     <td>
        
        </td>
        </tr>
    </table>    
    </div>
</div>

</div>
<div>

