{{extend 'layout.html'}}
<div style="text-align:right;padding-right:40px">
{{=form}}
</div>


<h2 class="subtitle" id="pageHeader">Sanity Check</h2>
{{
  if not sanity_data:
}}
<h3>No VM running on selected host</h3>
{{else:}}
  <div class="TABLE" id="sanity_check_table">
  <table>
      <tr>
        <th>Host</th>
        <th>Status</th>
        <th>VM Name</th>
        <th>Message</th>
        <th>Operations</th>
      </tr>
  {{for vm in sanity_data:}}
      <tr>
        <td>{{=vm['host']}}</td>
        <td>{{=vm['status']}}</td>
        <td>{{=vm['vmname']}}</td>
        <td>{{=vm['message']}}</td>
        <td>
        {{if vm['operation'] == 'Orphan':}}
        	{{=A('Delete Orphan VM',_href=URL(r=request,f='sync_vm',args=['Delete_Orphan', vm['vmname'], vm['host_id']]))}}
        	&nbsp;|&nbsp;
        	{{=A('Update VM Info',_href=URL(r=request,f='sync_vm',args=['Add_Orphan', vm['vmname'], vm['host_id']]))}}
        {{elif vm['operation'] == 'Undefined':}}
        	{{=A('Delete VM Info',_href=URL(r=request,f='sync_vm',args=['Delete_VM_Info', vm['vmname'], vm['host_id']]))}}
        {{elif vm['operation'] == 'Error':}}
        	-
        {{else:}}
        	{{=A('Snapshot Sanity Check',_href=URL(r=request,f='snapshot_sanity_check',args=[vm['vm_id']]))}}
        {{pass}}
        </td>
      </tr>
  {{pass}}
  </table>
  </div>
{{pass}}


<script>

jQuery(document).ready(function(){

    var _header = $('#pageHeader');
	if (_header != 'undefined'){
        _header.html('Sanity Check for ' + $('#host_select_id option:selected').text());
	}
});
</script>
