{{extend 'layout.html'}}
<div style="text-align:right;padding-right:40px">
{{=form}}
</div>

{{if len(vm_util_data) == 0:}}
<h3>No Utilization Data</h3>
    {{else:}}
	
	<h2 class="subtitle" id="pageUtilHeader"></h2>

    <table id="sortTable1" class="tablesorter">
    <thead>
      <tr>
        <th>VM Name</th>
        <th>Memory</th>
        <th>CPU</th>
        <th>Network Read</th>
        <th>Network Write</th>
        <th>Disk Read</th>
        <th>Disk Write</th>
      </tr> 
      </thead>
      <tbody>
      {{for util_data in vm_util_data:}}
       <tr>
       		<td>{{=A(util_data['vm_name'],_href=URL(r=request, c='user',f='show_vm_performance', args=[util_data['vm_id']]))}}</td>
            <td>{{=util_data['memory']}}%</td>
            <td>{{=util_data['cpu']}}%</td>
            <td>{{=util_data['diskr']}}</td>
            <td>{{=util_data['diskw']}}</td>
            <td>{{=util_data['nwr']}}</td>
            <td>{{=util_data['nww']}}</td>
          </tr>
      {{pass}}
	</tbody>
    </table>
{{pass}}
<script>

jQuery(document).ready(function(){
    jQuery("#sortTable1").tablesorter({ headers: { 5: {sorter:"ipAddress"}} }); 

    var _header = $('#pageUtilHeader');
	if (_header != 'undefined'){
        _header.html('VM Utilization Data for ' + $('#period_select_id option:selected').text());
	}
});
</script>
