<head>
<script src="{{=URL('static','js/jquery.min.js')}}"  ,type="text/javascript"></script>
<link rel="stylesheet" href="{{=URL('static','xterm/xterm.css')}}" />
<link rel="stylesheet" href="{{=URL('static','xterm/addons/fullscreen/fullscreen.css')}}" />
<link rel="stylesheet" href="{{=URL('static','xterm/style.css')}}" />

<script src="{{=URL('static','xterm/xterm.js')}}"  ,type="text/javascript"></script>
<script src="{{=URL('static','xterm/addons/attach/attach.js')}}"  ,type="text/javascript"></script>
<script src="{{=URL('static','xterm/addons/fit/fit.js')}}"  ,type="text/javascript"></script>
<script src="{{=URL('static','xterm/addons/fullscreen/fullscreen.js')}}"  ,type="text/javascript"></script>
<script src="{{=URL('static','xterm/addons/linkify/linkify.js')}}"  ,type="text/javascript"></script>
</head>

<script>
$(window).bind('beforeunload', function(){
  return 'You may lose the processes running in background.';
});
var term, socket,socketURL,pid,terminalcontainer,
    charWidth,
    charHeight;
var containerid;
var execid;
//charWidth=8.2
//charHeight = 16
function getParameterByName(name, url) {
    if (!url) {
      url = window.location.href;
    }
    name = name.replace(/[\[\]]/g, "\\$&");
    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
        results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return '';
    return decodeURIComponent(results[2].replace(/\+/g, " "));
}
function createTerminal() {

	terminalContainer = document.getElementById('terminal-container');
	while (terminalContainer.children.length) {
		terminalContainer.removeChild(terminalContainer.children[0]);
	}
	term = new Terminal({
	  
        useStyle: true,
		cursorBlink: true
	});
	term.on('resize', function (size) {
    if (!pid) {
      return;
    }
    var cols = size.cols,
        rows = size.rows,
        url = "{{=URL('getExecResize_cont', args=[cont_id])}}?execid="+execid+'&width=' + cols + '&height=' + rows;

    fetch(url, {method: 'GET'}).then(function (res) {res.text().then(function (data) {
		console.log(data);});});
  });
  term.open(terminalContainer);
	term.toggleFullscreen(true);
	//term.fit();
	term.linkify();
	var protocol = (location.protocol === 'https:') ? 'wss://' : 'ws://';
	console.log("Exec _id"+execid);
	socketURL = protocol + 'docker.iitd.ac.in/ws/ws?uid='+containerid+'&execid='+execid;
	socket = new WebSocket(socketURL);
		socket.onopen = runRealTerminal;
      socket.onclose = runFakeTerminal;
      socket.onerror = runFakeTerminal;
	
	
	//colsElement = document.getElementById('cols'),
    //rowsElement = document.getElementById('rows');
	//colsElement.addEventListener('change', setTerminalSize);
	//rowsElement.addEventListener('change', setTerminalSize);
      cols = Math.round($('#terminal-container').width() / 10);
      rows = Math.round($('#terminal-container').height() / 19);
	  console.log(cols);
	  console.log(rows);
  //colsElement.value = cols;
  //rowsElement.value = rows;
	term.resize(cols,rows);
  
  
  
}

function setTerminalSize () {
  var cols = parseInt(colsElement.value, 10),
      rows = parseInt(rowsElement.value, 10),
      width = (cols * charWidth).toString() + 'px',
      height = (rows * charHeight).toString() + 'px';

  terminalContainer.style.width = width;
  terminalContainer.style.height = height;
  term.resize(cols, rows);
}

function runRealTerminal() {
	
  term.attach(socket);
  term._initialized = true;
  timeout = setTimeout(function(){
  $.getJSON("{{=URL('getExecResize_cont', args=[cont_id])}}?execid="+execid+'&width=' + cols + '&height=' + rows ,function (data) {

    charWidth = Math.ceil(term.element.offsetWidth / cols);
    charHeight = Math.ceil(term.element.offsetHeight / rows);
    console.log(charWidth);
    console.log(charHeight);
    
    
		console.log("Inside Resize");
		console.log(data);
      pid = true;
      
      
    }).error(function(jqXHR, textStatus, errorThrown) {
        console.log("error " + textStatus);
        console.log("incoming Text " + jqXHR.responseText);
    });},2000);
}

function runFakeTerminal() {
  /*if (term._initialized) {
    return;
  }*/

  term._initialized = true;

  var shellprompt = '$ ';

  term.prompt = function () {
    term.write('\r\n' + shellprompt);
  };

  term.writeln('Welcome to our web based ssh service for containers. ');
  term.writeln('This is a local terminal emulation, without a real terminal in the back-end.');
  term.writeln('You are recieving this screen because Either connection has observed error or is unable to connect.');
  term.writeln('Try to reconnect. If error persists , contact to admin');
  //term.prompt(); 
}
/*
function gofullscreen(){
	//console.log(term);
	term.toggleFullscreen(true);
	term.fit();
	//var termdiv = document.getElementById("terminal-container");
	//termdiv.style.width="1200px";
	//termdiv.style.height="2500px";
window.addEventListener("keyup", function(e){ if(e.keyCode == 27)
	{ 
		term.toggleFullscreen(false); 
		term.fit();
		//var termdiv = document.getElementById("terminal-container");
	//termdiv.style.width="900px";
	//termdiv.style.height="600px";
		e.target.removeEventListener(e.type, arguments.callee);
		}}, false);

}*/
</script>
<!--
<button onclick="gofullscreen()"> Go fullscrren (press Esc to exit fullscreen)</button>
<p> Use ctrl + shift + v to paste text . Use ctrl + insert to copy text . if insert is not available on keyboard , disable numlock and press 0 .<br>
Now you can copy/paste in terminal with right mouse click.<br>
After, finishing your work, type exit.</p>-->
<div id="terminal-container"></div>
<p> Use ctrl + shift + v to paste text . Use ctrl + insert to copy text . if insert is not available on keyboard , disable numlock and press 0 .<br>
Now you can copy/paste in terminal with right mouse click.<br>
After, finishing your work, type exit.</p>-->
<!--
<div>
          
          	<h3>Size</h3>
            <div>
              <div style="display: inline-block; margin-right: 16px;">
                <label for="cols">Columns</label>
                <input type="number" id="cols" />
              </div>
              <div style="display: inline-block; margin-right: 16px;">
                <label for="rows">Rows</label>
                <input type="number" id="rows" />
              </div>
            </div>
          </div>
        </div>
-->

<script>
jQuery(document).ready(function(){

	containerid = '{{=cont_uuid}}'
	if(getParameterByName('execid')==null || getParameterByName('execid') ==''){
	$.getJSON( "{{=URL('getExecSession_cont', args=[cont_id])}}", function( data ) {
		  console.log(data['cont_session']['Id']);
		  execid = data['cont_session']['Id'];
		  //execid ='860a3db112b44a7055571d5fac25ec6aab9b9a7d52a4830524fd9d59ceab7014'
		  createTerminal();
		  console.log("true");
		}).error(function(jqXHR, textStatus, errorThrown) {
        console.log("error " + textStatus);
        console.log("incoming Text " + jqXHR.responseText);
    })}
    else{
		execid =getParameterByName('execid')
		createTerminal();
		}
;
	

});
</script>
