{{extend 'layout.html'}}
<div id="tabs-task">
<ul>
    <li><a href="#runTab">My VM's</a></li>
    <li><a href="#pendTab">Pending VM's</a></li>
</ul>

<div id="pendTab">
{{if not pending_vm:}}
<h3>No Pending Requests</h3>
  {{else:}}
  <div class="TABLE">
    <table id="pendingreqs">
      <tr>
        <th>VM Name</th>
        <th>RAM</th>
        <th>Faculty</th>
        <th>HDD</th>
        <th>vCPUs</th>
        <th>Status</th>
      </tr> 
      {{for vm in pending_vm:}}
       <tr>
            <td>{{=vm['vm_name']}}</td>
            <td>{{=vm['RAM']}}</td>
            <td>{{=vm['faculty_name']}}</td>
            <td>{{=vm['HDD']}}</td>
            <td>{{=vm['vCPUs']}}</td>
            <td>
            {{if vm['status'] == VM_STATUS_VERIFIED:}}
            	Waiting for admin approval
            {{else:}}
            	Waiting for approval
            {{pass}}
            </td>
          </tr>
      {{pass}}
    </table>
    </div>
{{pass}}
</div>
<div id="runTab">
{{
  if not hosted_vm:
}}
<h3>No VM Running</h3>
{{else:}}
<div class="TABLE">
  <table id="myvms">
      <tr>
        <th>Name</th>
        <th>Owner</th>
        <th>Host</th>
        <th>Private IP</th>
		<th>RAM</th>
		<th>vCPUs</th>
        <th>Status</th>
		<th>Cost</th>
        <th>Settings</th>
      </tr>
  {{for vm in hosted_vm:}}
      <form>
      <tr>
        <td>{{=vm['name']}}</td>
        <input type = "hidden" name = "vm" value="{{=vm['id']}}"/>
        <td>{{=(vm['owner'])}}</td>
        <td>{{=vm['hostip']}}</td>
        <td>{{=vm['private_ip']}}</td>
        <td>{{=vm['RAM']}}</td>
		<td>{{=vm['vcpus']}}</td>
        <td>{{=vm['status']}}</td>
        <td>{{=vm['cost']}}</td>
        <td>
        <div id = '{{=vm['name']}}'>
        {{=A(IMG(_src=URL('static','images/settings.png'), _height=18, _width=18),
        _href=URL(r=request, f='settings', args=[vm['id']]), 
        _title="Settings", 
        _alt="Settings")}}
        {{vm=vm['name']}}
        <img alt="Operations" title="Operations" src="../static/images/lock.png" height="18" onclick="ajax('{{=URL('dominfo/'+vm)}}', ['{{=vm}}'],'{{=vm}}');"/>
        </div>
        </td>
      </tr>
      </form>
  {{pass}}
  </table>
</div>
{{pass}}
</div>
</div>
