{{extend 'layout.html'}}
<h2 class="subtitle">{{=T('My VMs')}}</h2>

{{
  if not hosted_vm:
}}
<h3>No VM Running</h3>
{{else:}}
  <table id="myvms" class="tablesorter">
    <thead>
      <tr>
        <th>Name</th>
        <th>Owner</th>
        {{if is_moderator():}}
        <th>Host</th>
        {{pass}}
        <th>Private IP</th>
        <th>Public IP</th>
		<th>RAM</th>
		<th>vCPUs</th>
        <th>Status</th>
        <th>Settings</th>
      </tr>
    </thead>
    <tbody>
    {{for vm in hosted_vm:}}
      <tr>
        <td>{{=vm['name']}}</td>
        <td>{{=(vm['owner'])}}</td>
        {{if is_moderator():}}
        <td>{{=vm['hostip']}}</td>
        {{pass}}
        <td>{{=vm['private_ip']}}</td>
        <td>{{=vm['public_ip']}}</td>
        <td>{{=vm['RAM']}}</td>
		<td>{{=vm['vcpus']}}</td>
        <td>{{=vm['status']}}</td>
        <td>
        <div id = '{{=vm['name']}}'>
        {{=A(IMG(_src=URL('static','images/settings.png'), _height=18, _width=18),
        _href=URL(r=request, f='settings', args=[vm['id']]), 
        _title="Settings", 
        _alt="Settings")}}
        {{vm=vm['name']}}
        </div>
        </td>
      </tr>
    {{pass}}
    </tbody>
  </table>
{{pass}}

<script>
jQuery(document).ready(function(){
      jQuery("#myvms").tablesorter(); 
});
</script>