{{extend 'layout.html'}}
<div id="tabs-task">
<ul>
    <li><a href="#installTab", onclick="set_tab_cookie(0);">Install VM ({{=len(install_requests)}})</a></li>
    <li><a href="#cloneTab", onclick="set_tab_cookie(1);">Clone VM ({{=len(clone_requests)}})</a></li>
    <li><a href="#diskTab", onclick="set_tab_cookie(2);">Attach Disk ({{=len(disk_requests)}})</a></li>
    <li><a href="#editTab", onclick="set_tab_cookie(3);">Edit Configuration ({{=len(edit_requests)}})</a></li>
</ul>


<div id="installTab">

{{if len(install_requests) == 0:}}
<h3>No Pending Requests</h3>
    {{else:}}

    <table id="sortTable1" class="tablesorter">
    <thead>
      <tr>
        <th>Requested By</th>
        <th>Faculty</th>
        <th>VM Name</th>
        <th>vCPUs</th>
        <th>RAM</th>
        <th>HDD</th>
        <th>Public IP</th>
        <th>Security Domain</th>
        <th>Status</th>
      </tr> 
      </thead>
      <tbody>
      {{for pend_request in install_requests:}}
       <tr id='Row_{{=pend_request['id']}}'>
            <td>{{=pend_request['requester_name']}}</td>
            <td>{{=pend_request['faculty_name']}}</td>
            <td>{{=pend_request['vm_name']}}</td>
            <td>{{=pend_request['vCPUs']}}</td>
            <td>{{=pend_request['RAM']}}</td>
            <td>{{=pend_request['HDD']}}</td>
            <td>
            {{if pend_request['public_ip']:}}
                    <span class="icon-ok"/>
            {{else:}}        
                    <span class="icon-remove"/>
            {{pass}}
            </td>
            <td>{{=pend_request['security_domain']}}</td>
            <td>
	           {{if pend_request['status'] == REQ_STATUS_REQUESTED:}}
	               Waiting for faculty approval
	           {{elif pend_request['status'] == REQ_STATUS_VERIFIED:}}
	               Waiting for org admin approval
	           {{elif pend_request['status'] == REQ_STATUS_APPROVED:}}
	               Waiting for admin approval
	           {{elif pend_request['status'] == REQ_STATUS_IN_QUEUE:}}
	               Approved. In Queue.
	           {{elif pend_request['status'] == REQ_STATUS_FAILED:}}
	               Task failed. Contact administrator.
	           {{pass}}
            </td>
          </tr>
      {{pass}}
	</tbody>
    </table>
{{pass}}

</div>
<div id="cloneTab">
{{if len(clone_requests) == 0:}}
<h3>No Pending Requests</h3>
    {{else:}}

    <table id="sortTable2" class="tablesorter">
    <thead>
      <tr>
        <th>Requested By</th>
        <th>Faculty</th>
        <th>No. of Clones</th>
        <th>VM Name</th>
        <th>RAM</th>
        <th>HDD</th>
        <th>vCPUs</th>
        <th>Status</th>
      </tr> 
      </thead>
      <tbody>
      {{for pend_request in clone_requests:}}
       <tr>
            <td>{{=pend_request['requester_name']}}</td>
            <td>{{=pend_request['faculty_name']}}</td>
            <td><b>{{=pend_request['clone_count']}}</b></td>
            <td>{{=pend_request['vm_name']}}</td>
            <td>{{=pend_request['RAM']}}</td>
            <td>{{=pend_request['HDD']}}</td>
            <td>{{=pend_request['vCPUs']}}</td>
            <td>
	           {{if pend_request['status'] == REQ_STATUS_REQUESTED:}}
	               Waiting for faculty approval
	           {{elif pend_request['status'] == REQ_STATUS_VERIFIED:}}
	               Waiting for org admin approval
	           {{elif pend_request['status'] == REQ_STATUS_APPROVED:}}
	               Waiting for admin approval
	           {{elif pend_request['status'] == REQ_STATUS_IN_QUEUE:}}
	               Approved. In Queue.
	           {{elif pend_request['status'] == REQ_STATUS_FAILED:}}
	               Task failed. Contact administrator.
	           {{pass}}
            </td>
          </tr>
      {{pass}}
	</tbody>
    </table>
{{pass}}

</div>
<div id="diskTab">
{{if len(disk_requests) == 0:}}
<h3>No Pending Requests</h3>
    {{else:}}

    <table id="sortTable3" class="tablesorter">
    <thead>
      <tr>
        <th>Requested By</th>
        <th>Faculty</th>
        <th>VM Name</th>
        <th>vCPUs</th>
        <th>RAM</th>
        <th>HDD</th>
        <th>Extra HDD</th>
        <th>Additional HDD</th>
        <th>Status</th>
      </tr> 
      </thead>
      <tbody>
      {{for pend_request in disk_requests:}}
       <tr>
            <td>{{=pend_request['requester_name']}}</td>
            <td>{{=pend_request['faculty_name']}}</td>
            <td>{{=A(pend_request['vm_name'],_href=URL(r=request, c='user',f='settings', args=[pend_request['parent_vm_id']]))}}</td>
            <td>{{=pend_request['vCPUs']}}</td>
            <td>{{=pend_request['RAM']}}</td>
            <td>{{=pend_request['HDD']}}</td>
            <td>{{=pend_request['extra_HDD']}}</td>
            <td><b>{{=pend_request['attach_disk']}}</b></td>
            <td>
	           {{if pend_request['status'] == REQ_STATUS_REQUESTED:}}
	               Waiting for faculty approval
	           {{elif pend_request['status'] == REQ_STATUS_VERIFIED:}}
	               Waiting for org admin approval
	           {{elif pend_request['status'] == REQ_STATUS_APPROVED:}}
	               Waiting for admin approval
	           {{elif pend_request['status'] == REQ_STATUS_IN_QUEUE:}}
	               Approved. In Queue.
	           {{elif pend_request['status'] == REQ_STATUS_FAILED:}}
	               Task failed. Contact administrator.
	           {{pass}}
            </td>
          </tr>
      {{pass}}
	</tbody>
    </table>
{{pass}}

</div>
<div id="editTab">

{{if len(edit_requests) == 0:}}
<h3>No Pending Requests</h3>
    {{else:}}

    <table id="sortTable4" class="tablesorter">
    <thead>
      <tr>
        <th>Requested<br/>By</th>
        <th>Faculty</th>
        <th>VM Name</th>
        <th>vCPUs</th>
        <th>New<br/>vCPUs</th>
        <th>RAM</th>
        <th>New<br/>RAM</th>
        <th>Public<br/>IP</th>
        <th>New<br/>Public IP</th>
        <th>Security<br/>Domain</th>
        <th>New Security<br/>Domain</th>
        <th>Status</th>
      </tr> 
      </thead>
      <tbody>
      {{for pend_request in edit_requests:}}
       <tr>
            <td>{{=pend_request['requester_name']}}</td>
            <td>{{=pend_request['faculty_name']}}</td>
            <td>{{=A(pend_request['vm_name'],_href=URL(r=request, c='user',f='settings', args=[pend_request['parent_vm_id']]))}}</td>
            <td>{{=pend_request['old_vCPUs']}}</td>
            <td><b>{{=pend_request['vCPUs']}}</b></td>
            <td>{{=pend_request['old_RAM']}}</td>
            <td><b>{{=pend_request['RAM']}}</b></td>
            <td>
            {{if pend_request['old_public_ip']:}}
                    <span class="icon-ok"/>
            {{else:}}        
                    <span class="icon-remove"/>
            {{pass}}
            </td>
            <td>
            {{if pend_request['public_ip']:}}
                    <span class="icon-ok"/>
            {{else:}}        
                    <span class="icon-remove"/>
            {{pass}}
            </td>
            <td>{{=pend_request['old_security_domain']}}</td>
            <td><b>{{=pend_request['security_domain']}}</b></td>
            <td>
	           {{if pend_request['status'] == REQ_STATUS_REQUESTED:}}
	               Waiting for faculty approval
	           {{elif pend_request['status'] == REQ_STATUS_VERIFIED:}}
	               Waiting for org admin approval
	           {{elif pend_request['status'] == REQ_STATUS_APPROVED:}}
	               Waiting for admin approval
	           {{elif pend_request['status'] == REQ_STATUS_IN_QUEUE:}}
	               Approved. In Queue.
	           {{elif pend_request['status'] == REQ_STATUS_FAILED:}}
	               Task failed. Contact administrator.
	           {{pass}}
            </td>
          </tr>
      {{pass}}
	</tbody>
    </table>
{{pass}}

</div>

</div>

<script>
jQuery(document).ready(function(){
      jQuery("#sortTable1").tablesorter({ headers: {6: {sorter:"ipAddress"}} }); 
      jQuery("#sortTable2").tablesorter(); 
      jQuery("#sortTable3").tablesorter(); 
      jQuery("#sortTable4").tablesorter(); 
});
</script>