{{extend 'layout.html'}}

<div class="post">
	<h1 class="title">{{=T('Request VM')}}</h1>
	<div class="entry">
		{{=form}}
	</div>
</div>


<script>
jQuery(document).ready(function(){
    jQuery('#vm_data_purpose__row').hide();
    jQuery('#vm_data_HDD__row').hide();
    jQuery('[id^=config_row__]').hide();

	template_check()
});

jQuery('#vm_data_template_id').change(function(){
	template_check()
});

function template_check() {
	var _value=$('#vm_data_template_id').val();
	
	if (_value == ''){
	   jQuery('#vm_data_purpose__row').hide();
	   jQuery('#vm_data_HDD__row').hide();
	   jQuery('[id^=config_row__]').hide();
	}
	else if(jQuery('#config_row__'+_value).length != 0){
	   jQuery('#vm_data_purpose__row').show();
	   jQuery('#vm_data_HDD__row').show();
	   jQuery('[id^=config_row__]').hide();
	   jQuery('#config_row__'+_value).show();
	}
	else{
	   jQuery('#vm_data_purpose__row').show();
	   jQuery('#vm_data_HDD__row').show();
	   jQuery('[id^=config_row__]').hide();
	   jQuery('#config_row__0').show();
	}
  }
</script>
