{{extend 'layout.html'}}

<div class="post">
    <h2 class="subtitle">{{=T('Request VM')}}</h2>
    <div class="entry">
        {{=form}}
    </div>
</div>
    

<script>
jQuery(document).ready(function(){
    jQuery('#request_queue_purpose__row').hide();
    jQuery('#request_queue_extra_HDD__row').hide();
    jQuery('[id^=config_row__]').hide();
    jQuery('#faculty_row').hide();
    jQuery('#collaborator_row').hide();
    jQuery('#request_queue_public_ip__row').hide();
    jQuery('#request_queue_enable_service__row').hide();
    jQuery('#security_domain_row').hide();

    template_check()
});

jQuery('#request_queue_template_id').change(function(){
    template_check()
});

function template_check() {
    var _value=$('#request_queue_template_id').val();
    
    if (_value == ''){
        jQuery('#request_queue_purpose__row').hide();
        jQuery('#request_queue_extra_HDD__row').hide();
        jQuery('[id^=config_row__]').hide();
        jQuery('#faculty_row').hide();
        jQuery('#collaborator_row').hide();
        jQuery('#request_queue_public_ip__row').hide();
        jQuery('#request_queue_enable_service__row').hide();
        jQuery('#security_domain_row').hide();
    }else{
        jQuery('#request_queue_purpose__row').show();
        jQuery('#request_queue_extra_HDD__row').show();
        jQuery('#faculty_row').show();
        jQuery('#collaborator_row').show();
        jQuery('#request_queue_public_ip__row').show();
        jQuery('#request_queue_enable_service__row').show();
        jQuery('#security_domain_row').show();
        jQuery('[id^=config_row__]').hide();    
        
        if(jQuery('#config_row__'+_value).length == 0){
            jQuery('#config_row__0').show();   
        }else
        {
            jQuery('#config_row__'+_value).show();
        }
    }
}
  
function verify_faculty() {
    var verify_url = "{{=URL('verify_faculty')}}";
    var faculty_user = jQuery('#faculty_user').val();
    jQuery.post(verify_url, {keywords:faculty_user},
        function(result){
            if(result != 'None'){
                jQuery('[name="vm_owner"]').val(faculty_user);
                jQuery('#faculty_user').val(result);
            }else
            {
                jQuery('[name="vm_owner"]').val('');
                jQuery('.flash').html('Faculty Approver Username is not valid').slideDown();
            }
        }
    );
}

function add_collaborator() {
	var users_num = jQuery('[id^=user_]').length;
	if(users_num == 3){
		jQuery('.flash').html('Only upto 3 collaborators can be added to the VM').slideDown();
		return;
	}
    var vm_users = jQuery('[name="vm_users"]').val();
    var user = jQuery('#collaborator').val();
    if(vm_users.indexOf('|'+user+'|') != -1)
    {
		jQuery('.flash').html('A collaborator cannot be added twice').slideDown();
		return;
    }

    var verify_url = "{{=URL('add_collaborator')}}";
    jQuery.post(verify_url, {keywords:user},
        function(result){
            if(result != 'None'){
                jQuery('[name="vm_users"]').val(vm_users + user + '|');
                
                $('<tr id="user_'+user+'"><td></td><td>'+result+'</td><td><a href="#" onclick="remove_collaborator(\''+user+'\')">Remove</a></td></tr>').insertAfter($('#collaborator_row'));
                
                jQuery('#collaborator').val('');
                jQuery('.flash').html('Collaborator added').slideDown();
            }else
            {
                jQuery('.flash').html('Collaborator Username is not valid').slideDown();
            }
        }
    );
}

function remove_collaborator(vm_user){
	var vm_users = jQuery('[name="vm_users"]').val()
	vm_users = vm_users.replace(vm_user+'|', '');
	jQuery('[name="vm_users"]').val(vm_users);
	$('#user_'+vm_user).remove();
}

jQuery('form').submit(function(){
});

</script>
