{{extend 'layout.html'}}

<script>

function confirm_vm_deletion(){

    if(confirm('Are you sure you want to delete it') {
    
            if(confirm('Do you want to delete hard disk as well?')) {
                window.location ='{{=URL(r=request, f='delete_machine', args=[vminfo['id'],True])}}'
            }
            else {
                window.location ='{{=URL(r=request, f='delete_machine', args=[vminfo['id'],False])}}'
            }
    }
}

</script>

{{if vminfo:}}

<div class="post">

	<h2 class="title">VM Configuration </h2>

	<div class="TABLE">
	<table id="configuration">
		<tr>
			<th>Name</th>
			<th>Default HDD</th>
			<th>Extra HDD</th>
			<th>RAM</th>
			<th>VCPUs</th>
			<th>Status</th>
      <th>OS Type</th>
      {{if is_moderator():}}
      <th>Host</th>
      <th>VNCPort</th>
      {{pass}}
		</tr>
		<tr>
			<td>{{=vminfo['name']}}</td>
			<td>{{=vminfo['hdd']}}</td>
			<td>{{=vminfo['extrahdd']}}</td>
			<td>{{=vminfo['ram']}}</td>
			<td>{{=vminfo['vcpus']}}</td>
			<td>{{=vminfo['status']}}</td>
      <td>{{=vminfo['ostype']}}</td>
      {{if is_moderator():}}
      <td>{{=vminfo['host']}}</td>
      <td>{{=vminfo['vnc']}}</td>
      {{pass}}
		</tr>
	</table>	
	</div>

 <p><br/><strong>Purpose :</strong> {{=vminfo['purpose']}}</p>

</div>
<br/>
{{pass}}

{{if vmusers:}}
<div class="post">
    <h2 class="title">VM Users</h2>
    <table>
		<tr>
	  {{for user in vmusers:}}
		    <td>{{=(str(user.first_name) + " " + str(user.last_name))}}</td>
		    <td>
		        <a alt="Remove the user permissions" title="Remove the user permissions" href="{{=URL(request.application, 'admin','delete_user_vm', args=[vminfo['id'], user.id])}}" style="text-decoration:none;color:black;"><b>X<b/>
		        </a>
		    </td>
	  {{pass}}
		</tr>
	  </table>
</div>
{{pass}}

{{if vmoperations:}}
<br/>
<div class="post">
    <h2 class="title">VM Operations</h2>
    <table>
		<tr>
	  {{for operation in vmoperations:}}
    <td>{{=operation}}</td>
	  {{pass}}
		</tr>
	  </table>
</div>
{{pass}}
