{{extend 'layout.html'}}

<script>

function confirm_vm_deletion(){

    if(confirm('Are you sure you want to delete it')) {
    
            if(confirm('Do you want to delete hard disk as well?')) {
                window.location ='{{=URL(r=request, f='delete_vm', args=[vminfo['id']])}}'
            }
    }
}

</script>

{{if vminfo:}}

<div class="post">

    <h2 class="title">VM Configuration </h2>

    <div class="TABLE">
    <table id="configuration">
        <tr>
            <th>Name</th>
            <th>HDD</th>
            <th>RAM</th>
            <th>VCPUs</th>
            <th>OS Name</th>
            <th>OS Version</th>
            <th>OS Type</th>
            <th>Private IP</th>
            <th>Public IP</th>
            <th>Security Domain</th>
            <th>Status</th>
        </tr>
        <tr>
            <td>{{=vminfo['name']}}</td>
            <td>{{=vminfo['hdd']}}</td>
            <td>{{=vminfo['ram']}}</td>
            <td>{{=vminfo['vcpus']}}</td>
	    <td>{{=vminfo['os_name']}}</td>
	    <td>{{=vminfo['os_version']}}</td>
            <td>{{=vminfo['os_type']}}</td>
            <td>{{=vminfo['private_ip']}}</td>
            <td>{{=vminfo['public_ip']}}</td>
            <td>{{=vminfo['security_domain']}}</td>
            <td>{{=vminfo['status']}}</td>
        </tr>
    </table>    
    </div>
    {{if is_moderator():}}
	    <p><strong>Host: </strong>{{=vminfo['host']}}</p>
    {{pass}}
    {{if 'vnc_ip' in vminfo :}}<p>
	    <strong>VNC IP: </strong>{{=vminfo['vnc_ip']}}<br/>
	    <strong>VNC Port: </strong>{{=vminfo['vnc_port']}}</p>
    {{pass}}
 <p><strong>Purpose :</strong> {{=vminfo['purpose']}}</p>

</div>
<br/>
{{pass}}

{{if vmusers:}}
<div class="post">
    <h2 class="title">VM Users</h2>
    <table id="vm_users">
        <tr>
      {{for user in vmusers:}}
            <td id="{{=user.id}}">{{=(str(user.first_name) + " " + str(user.last_name))}}</td>
            <td>
                <a alt="Remove the user permissions" title="Remove the user permissions" href="{{=URL(request.application, 'admin','delete_user_vm', args=[vminfo['id'], user.id])}}" style="text-decoration:none;color:black;"><b>X<b/>
                </a>
            </td>
      {{pass}}
        </tr>
      </table>
</div>
{{pass}}

{{if vmoperations:}}
<br/>
<div class="post">
    <h2 class="title">VM Operations</h2>
    <table id="vm_ops">
        <tr>
      {{for operation in vmoperations:}}
    <td>{{=operation}}</td>
      {{pass}}
        </tr>
      </table>
</div>
{{pass}}

{{if vmsnapshots:}}
<div class = "post">
    
        <h2 class = "title"> Snapshot(s) </h2>
        <table id="vm_snaps">          
                     {{for snapshot in vmsnapshots:}}
                     <tr id="{{=snapshot['id']}}">
                         <td>{{=snapshot['type']}}</td>
                         <td>{{=snapshot['name']}}</td>
                         <td>{{=snapshot['revert']}}</td>
                         <td>{{=snapshot['delete']}}</td>
                     </tr>
                     {{pass}}
       </table>
</div>
{{pass}}

                


