{{extend 'layout.html'}}

<script>

var period = "hour";

function update_graph()
{
    graph_type = jQuery("#tabs-task .ui-tabs-nav .ui-state-active a").attr("href").replace('#','');
    period = $('input[name=graph-period-radio]:radio:checked').val();
    vm_name = "{{=vm_name}}";

    jQuery.ajax({type:"POST", url:"{{=URL('get_updated_graph')}}", data:{graphType:graph_type, vmName:vm_name,
        graphPeriod:period}, success:function(msg) { jQuery("#refresh").html(msg); 
                                                     src = jQuery("#refresh img").attr("src") + "?" + new Date().getTime(); 
                                                     jQuery("#refresh img").attr("src" , src) } });
}

jQuery(document).ready( function(){

    update_graph();

    $('input[name=graph-period-radio]:radio').click( function() {  
        update_graph();
    }); 

    $('#tabs-task ul li').click( function() {  
        update_graph();
    }); 

    $('#refresh').click( function() {
        update_graph();
    });

});

</script>

<div id="tabs-task">
<ul>
    <li><a href="#ram">Memory</a></li>
    <li><a href="#cpu">CPU</a></li>
    <li><a href="#nw">Network</a></li>
    <li><a href="#disk">Disk</a></li>
</ul>

<br/><br/>

<table>
    <tr>
    <td>
        <div id="graph-type">
            <input type="radio" value="hour" name="graph-period-radio" checked="checked">&nbsp;Last hour<br/><br/>
            <input type="radio" value="day" name="graph-period-radio">&nbsp;Last day<br/><br/>
            <input type="radio" value="week" name="graph-period-radio">&nbsp;Last week<br/><br/>
            <input type="radio" value="month" name="graph-period-radio">&nbsp;Last month<br/><br/>
            <input type="radio" value="year" name="graph-period-radio">&nbsp;Last year<br/><br/>
        </div>
    </td>

    <td>
        <table>
            <tr>
                <td id="refresh"></td>
            </tr>
        </table>
    </td>
    </tr>

    <tr>
        <td id="">
	    <input type="button" id="refresh" name="refresh" value="Refresh Graph">
        </td>
    </tr>

</table>

<div id="ram"></div>
<div id="cpu"></div>
<div id="nw"></div>
<div id="disk"></div>

<!--<div><strong>NOTE:&nbsp;&nbsp;</strong>The graph refreshes every 10 second.</div>-->

</div>


