{{extend 'layout.html'}}
{{if not pending_requests:}}
<h2 class="subtitle">No Pending Requests</h2>
    {{else:}}
<h2 class="subtitle">Requests Pending for your Approval</h2>
  <div class="TABLE">
    <table id="pendingreqs">
      <tr>
        <th>User ID</th>
        <th>VM Name</th>
        <th>RAM</th>
        <th>Faculty</th>
        <th>HDD</th>
        <th>vCPUs</th>
        <th>Operations</th>
      </tr> 
      {{for pending_request in pending_requests:}}
       <tr>
            <td>{{=pending_request['requester_name']}}</td>
            <td>{{=pending_request['vm_name']}}</td>
            <td>{{=pending_request['RAM']}}</td>
            <td>{{=pending_request['faculty_name']}}</td>
            <td>{{=pending_request['HDD']}}</td>
            <td>{{=pending_request['vCPUs']}}</td>
            <td>
           {{if FACULTY in auth.user_groups.values():}}
               {{=A('Approve',_href=URL(r=request,f='approve_request',args=[pending_request['id']]))}}
             &nbsp;|&nbsp;
               {{=A('Reject',_href=URL(r=request,f='reject_request',args=[pending_request['id']]))}}
           {{else:}}
               {{=A('Remind Faculty',_href='#')}}
           {{pass}}
            </td>
          </tr>
      {{pass}}
    </table>
    </div>
{{pass}}

